@import "../../assets/scss/_variables";

.header--basket {
    font-size: 2rem;
}

.basket-page {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.basket-table-header {
    border-bottom: 1px solid $grey-border;
    padding-bottom: 10px;
}

.basket-product {
    padding: 15px;
    border-bottom: 1px solid $grey-border;

    &__img {
        max-height: 80px;
        width: auto;
        padding-right: 5px;
    }
    &__amount {
        width: 20px;
        padding: .375rem .75rem;
        margin: auto;
    }

    &__title {
        display: inline;
    }

    &__trash-button {
        border: 0;
        padding: 0;
        background-color: $background-color;
    }

    &__trash-icon {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    
        &:hover {
            cursor: pointer;
        }
    }
}

.basket-summary{
    &__title {
        margin: auto;
    }
    &__total {
        margin: auto;
    }
}

.basket-list {
    &__empty-item {
        margin-top: 10px;
    }
}

.container--empty-basket-button {
    margin: 20px;
}

