@import "../../assets/scss/_variables";

.navbar {
   &__title {
        position: absolute;
        left: -9999px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
   }
}

.header-basket {
    margin-right: 100px;

    &__button {

        background-color: $web-orange;
        color: $button-text-color;
        font-weight: bold;

        &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active  {
            background-color:$web-orange-highlighted;
            color: $button-text-color;
        }

        
    }

}

.logo {
    margin-left: 100px;

    &__image {
        height: 30px;
        width: auto;
    }
}

@media(max-width: 766px) {
    .logo, .header-basket  {
        margin: 0px;
    }
}