body {
    background-color: #F5F5F5;
    min-height: 100%;
    margin: 0;
}

#app {
    margin: 0;
}

.product {
    padding: 20px;
    border: 1px solid black;
    background-color: #FFF;
}

.product > * {
    background-color: #FFF
}

.header-basket-button {
    background-color: #FFF;
    border: 1px solid black;
    display: inline;
}

.header-basket-button-container {
    padding-right: 100px;
}

.sainsburys-logo {
    height: 30px;
    width: auto;
}

.sainsburys-logo-container {
    padding-left: 100px;
}

.basketPage {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.basket-product-amount {
    width: 20px;
    padding: .375rem .75rem;
    margin: auto;
}
